/* reset & globals  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #212429;
  overflow-x: hidden;
}

h2, p {
  font-family: 'Roboto', sans-serif;
  color: #FDFFFD;
  font-weight: 600;
  font-size: 58px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #FDFFFD;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4rem 0 4rem;
  height: 60px;
  margin: 0 auto;
  max-width: 1280px;
}

.header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 40px;
}

.header-links span {
  font-family: 'Roboto', sans-serif;
  color: #FDFFFD;
  cursor: pointer;
  font-weight: 300;
}

/* hero section */
.hero {
  height: 90vh;
  padding: 4rem 4rem 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1280px;
  margin: 2rem auto 0 auto;
}

.hero-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-90%, -80%) scale(3.6) rotate(-3deg);
  z-index: -1;
  opacity: .6;
  animation: flow 5s infinite;
}

@keyframes flow {
  0% {
    transform: translate(-90%, -80%) scale(3.6) rotate(-3deg);
    transition: all .3s ease-in-out;
  }
  50% {
    transform: translate(-90%, -80%) scale(2.5) rotate(-4deg);
    opacity: .8;
    transition: all .3s ease-in-out;
  }
  100% {
    transform: translate(-90%, -80%) scale(3.6) rotate(-3deg);
    transition: all .3s ease-in-out;
  }
}

.hero-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 70%;
  width: 500px;
}

.hero-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 60%;
  width: 500px;
  position: relative;
}

.outer {
  z-index: -1;
  border-radius: 12px;
  width: 40%;
  height: 60%;
  background-color: #1296FC;
  position: absolute;
  top: -10px;
  right: -10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 415px;
  width: 402px;
  background-color: #fdfdfd;
  border-radius: 12px;
  position: relative;
  padding: .5rem 0;
}

.form input {
  width: 312px;
  height: 44.5px;
  margin: .5rem 0;
  padding: 0 1rem;
  border: none;
  border-radius: 32px;
  background-color: #f4f4f4;
  font-size: 16px;
  font-weight: 300;
}

.form-btn {
  width: 332px;
  height: 44.5px;
  margin-top: 1rem;
  padding: 0 1rem;
  border: none;
  border-radius: 32px;
  background-color: #1296FC;
  color: #FDFFFD;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}

.hero-text h2 {
  margin-bottom: 0;
  font-weight: 200;
}

.hero-text p {
  width: 420px;
  font-weight: 200;
}

.arrow-down {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  color: #1296FC;
  cursor: pointer;
  animation: glow 2s infinite;
  cursor: pointer;
}

@keyframes glow {
  0% {
    opacity: 1;
    transform: scale(1);
    transition: all .3s ease-in-out;
  }
  50% {
    opacity: .6;
    transform: scale(1.1);
    transition: all .3s ease-in-out;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transition: all .3s ease-in-out;
  }
}

/* aside comnpanies section */
.aside {
  height: 230px;
  margin: 0 auto;
  background-color: #fdfdfd;
  padding: 3rem 4rem 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.aside p {
  color: #212429;
  text-align: center;
  position: absolute;
  top: 2rem;
}

.companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  min-width: 800px;
  max-width: 1000px;
}

.companies-show {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-in-out, transform 0.8s ease-in-out;
}

.companies-hidden {
  opacity: 0;
  transform: translateY(20%);
}

/* benefits section */
.all-benefits {
  padding: 2rem 4rem 0 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto 0 auto;
  height: 800px;
}

.benefit-cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1280px;
  margin-top: 2rem;
}

.all-benefits h3 {
  font-size: 40px;
  font-weight: 200;
  color: #FDFFFD;
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.benefit-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 345px;
  height: 220px;
  padding: 2rem;
  border-radius: 32px;
  background-color: #2d2f34;
  margin-bottom: 2rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all .3s ease-in-out;
  border: 1px solid transparent;
}

.benefit-card:hover {
  transform: translateY(-5px);
  border: 1px solid #1296FC;
}

.benefit-card h3 {
  font-size: 28px;
  font-weight: 600;
  color: #1296FC;
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
}

.benefit-card p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 200;
  color: white;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

/* clients section */
.clients {
  background-color: #ffffffe9;
  height: 480px;
  padding: 2rem 4rem 6rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6rem auto 0 auto;
  backdrop-filter: blur(4px);
}

.clients-inner {
  width: 1280px;
  padding: 2rem 0rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.clients h3 {
  font-size: 40px;
  font-weight: 200;
  text-align: left;
  margin-bottom: 4rem;
  color: #2d2f34;
}

.clients-carrousel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem;
  width: 720px;
  height: 240px;
  background-color: white;
  border-radius: 32px;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25); 
  z-index: 20;
}

.clients-carrousel:nth-of-type(2) {
  position: absolute;
  top: 10.5rem;
  right: 13.5rem;
  z-index: 19;
  background-color: #1297fcbc;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); 
}

.clients-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.clients-texts h2 {
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  width: 220px;
  margin-bottom: .5rem;
  color: #212429;
}

.clients-texts p {
  font-size: 16px;
  font-weight: 200;
  text-align: left;
  color: #212429;
  width: 100%;
}

.divider {
  width: 5%;
  height: 1px;
  background-color: #1296FC;
  margin: .25rem 0;
}

.user {
  width: 350px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user svg {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 1rem;
  gap: 0;
}

.user-details span {
  font-size: 16px;
  font-weight: 600;
  color: #fdfdfd;
}

.user-details p {
  margin-top: .25rem;
  font-size: 16px;
  font-weight: 200;
  color: #fdfdfd;
}


/*  data section */
.hero-data {
  height: 440px;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 0 0 64px 64px;
  margin: 0 auto;
  max-width: 1280px;
}

.hero-data h2, .hero-data p {
  max-width: 600px;
  text-align: center;
  font-size: 40px;
  font-weight: 200;
}

.hero-data h2 span {
  font-weight: 500;
}

.hero-data p {
  margin-top: 1rem;
}

.data-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
  width: 100%;
  min-width: 800px;
  max-width: 1200px;
}

.data-cards .bg{
  width: 100%;
  height: 100%;
  color: white;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .3;
}

.card {
  width: 260px;
  height: 70px;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.card-texts h3 {
  margin-bottom: -.75rem;
  font-size: 70px;
  color: #1296FC;
}

.card-texts p {
  font-size: 16px;
  font-weight: 300;
  max-width: 180px;
  color: rgb(163, 163, 163);
}

/* more sales section */
.more-sales {
  background-color: #F7F7F7;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  margin: 0 auto 6rem auto;
  max-width: 1280px;
}

.more-sales h3 {
  font-size: 40px;
  font-weight: 200;
  text-align: left;
  margin-bottom: 1rem;
  color: #212429;
  width: 353px;
}

.more-sales span {
  font-weight: 500;
}

.more-sales svg {
  width: 100%;
  margin-top: 1.5rem;
}

/* integrations section */
.integrations {
  max-width: 1280px;
  padding: 2rem 4rem;
}

.integrations, .more-sales {
  height: 400px;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.integrations-texts, .more-sales-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 450px;
}

.integrations-texts h3 {
  font-size: 40px;
  font-weight: 200;
  text-align: left;
  margin-bottom: 1rem;
  color: #FDFFFD;
  width: 353px;
}

.integrations-texts p {
  font-size: 18px;
  font-weight: 200;
  text-align: left;
  color: #FDFFFD;
  font-family: 'Open Sans', sans-serif;
  width: 353px;
  margin-top: 0;
}

.integrations-image, .more-sales-image {
  width: 600px;
  height: 250px;
  opacity: .9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
}

/* plans section */
.plans {
  background-color: white;
  width: 100%;
  padding: 2rem 0;
  margin: 0 auto;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plans h3 {
  font-size: 40px;
  font-weight: 200;
  color: #2d2f34;
  margin-bottom: 0;
}

/* FAQ */
.faq {
  background-color: #F7F7F7;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 540px;
  overflow-y: hidden;
}

.faq h3 {
  font-size: 40px;
  font-weight: 200;
  color: #212429;
  margin-bottom: 2.5rem;
}

.faq-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  height: 400px;
}

.faq-block {
  background-color: #F7F7F7;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.faq-block-title {
  width: 600px;
  height: 75px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .3s ease-in-out;
  border-left: 6px solid transparent;
  transition: all .3s ease-in-out;
  position: relative;
}

.expanded {
  height: 120px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
  flex-direction: column;
  border-left: 6px solid #1296FC;
  transform: translateX(-5px);
}

.faq-block-title:hover {
  transform: translateX(-5px);
  border-left: 6px solid #1296FC;
}

.faq-block-title p {
  font-size: 16px;
  font-weight: 300;
  color: #212429;
  margin-left: 2rem;
}

.faq-block-title p:nth-child(2) {
  margin-top: -1rem;
}

.hidden {
  opacity: 0;
  height: 0;
  width: 0;
}

.answer {
  opacity: 1;
  transition: all .5s ease-in-out;
  max-width: 505px;
  padding: .5rem;
}

.arrow-icon {
  position: absolute;
  right: 1.5rem;
  color: #1296FC;
}

/* footer */
.footer {
  height: 96px;
  padding: 2rem 4rem;
  background-color: #212429;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
}

.left-div p {
  font-size: 14px;
  font-weight: 300;
  color: #95A5A6;
  width: 429px;
  margin-top: 0;
}

.left-div p:nth-last-of-type(1) {
  margin-top: -.75rem;
}
